:root {
  --main-pink: #9F86BE;
  --main-green: #51A34B;
  --dark-grey: #282828
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-size: 18px;
    background-image: url('https://media.istockphoto.com/photos/food-with-high-content-of-omega3-fats-picture-id1301412050?b=1&k=20&m=1301412050&s=170667a&w=0&h=nViB9ZIwyVRLPD5s123i48XNq_MNUvdBtX3IzAHnqec=');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   object-position: right top;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -11;
    backdrop-filter: blur(3px);

    
}

#overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.604);

    ;
}


@media only screen and (max-width: 400px){
    nav{
        display: block;
        width: 350px;
        margin: 12rem auto 2rem;
        z-index: 1;
    }
    h1{
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-size: 4.5rem;
        width: 340px;
        text-align: center;
    }

    p{
        color: #fff;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 350px;
        letter-spacing: 0.8px;
        margin-left: 10px;
    }

    section > a:first-child {
        background-color: var(--main-green);
        border-radius: 15px;
        padding: 10px 20px;
        color: #fff;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        display: block;
        width: 300px;
        margin: 3rem auto 0;
        text-align: center;
    }
        section > a:last-child {
        border: 2px solid var(--main-green);
        border-radius: 15px;
        padding: 10px 20px;
        color: var(--main-green);;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        display: block;
        width: 300px;
        margin: 1rem auto 0;
        text-align: center;
    }

}

