:root {
--main-purple: #9f86be;
--dark-purple: #b48be2;
--light-purple: #a77ff1;
--grey-purple: #a795c7;
--main-green: #51A34B;
--lighter-green: #91CFAD;
--darker-green: #589661;
--grey-green: #8bbd69;
--dark-grey: #363636;
--blue: #3470be;

}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Raleway', sans-serif;

}
body{
font-size: 18px;
color: #fff;
background-color: #3d3d3d;

}

i {
color: #fff;
margin: 2rem;
}
.index{
    width: 100vw;
    height: 100vh;
}
.headline{
    display: block;
    width: 350px;
    margin: 12rem auto 2rem;
    z-index: 1;
}
h1{
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 4.7rem;
    width: 350px;
    text-align: center;
    color: #fff;
}


#index p{
    color: #fff;
    width: 350px;
    letter-spacing: 0.8px;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    margin: 0.5rem auto 6rem;
    padding-left: 12px;
}

section > a:first-child {
    background-color: var(--blue);
    border-radius: 15px;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    display: block;
    width: 300px;
    margin: 3rem auto 0;
    text-align: center;
    font-weight: 500;
}


#aanmelden h2, h2{
    color: #fff;
    width: 90vw;
    font-size: 1.7em;
    margin: 3.5rem auto 1rem;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    padding-left: 0.2rem;
}

#aanmelden p, .results p{
    width: 90vw;
    padding-left: 1rem;
    display: block;
    margin: 0 auto;

}

/* form */
form{
    width: 95vw;
    display: block;
    margin: 0 auto;
    height: 70vh;
    padding:  0 15px;
}

form fieldset{
    border: none;

}
legend h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: -2.5rem;
}

label, h3{
    display: block;
    font-size: 18px;
    font-family: 'Raleway';
    letter-spacing: 0.5px;
    margin-top: 1.5rem;
    margin-bottom: 0.6rem;
    font-weight: 500;
    width: 300px;
    color: #fff;
}

input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 1.5em;
}

input[type="text"]::placeholder, input[type="number"]::placeholder{
    padding: 0.3rem;
    font-style: italic;
    font-size: 1.2em;
}
.form-btn{
    width: 80vw;
    padding: 0 15px;
    margin: 0 auto;
}
.btn-next{
    background-color: var(--blue);
    height: 35px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;

}

#form-submit{
    
    background-color: var(--blue);
    height: 35px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
}
form section{
    display: flex;
    width: 100%;
    justify-content: space-evenly;


}
#terug{
    background-color: transparent;
    font-size: 18px;
    margin: 0;
    justify-content: center;
    width: 150px;
    color: #fff;
}

input[type="number"]{
    width: 80px;
    height: 30px;

}
input[type="radio"]{
    display: inline-block;
    width: 25px;
    }
input[type="radio"] + label{
    width: 100px;
    display: inline-block;
}
select {
    width: 100%;
    height: 30px;
    margin-bottom: 2rem;
    border-radius: 5px;

}

input[type="submit"]{
    background-color: var(--blue);
    font-size: 18px;
    color: #fff;
    height: 35px;
}
#form p{
    margin: 1.5rem 0;
}
#form .pbContainer{
    margin-top: 3rem;
}
#form .progressBar{
    background: rgb(77,31,232);
    background: linear-gradient(103deg, rgb(31, 111, 232) 0%, rgb(3, 231, 247) 100%);
    width: 16.7%;
    transition: 0.3s ease-in;
}
/* NAV */
.nav{
    width: 100vw;
    height: 8vh;
    background-color: #5e5c5c;
    position: fixed;
    bottom: 0;
    border-radius: 10px 10px 0 0 ;
    box-shadow: 0px -1px 18px 15px rgba(46, 46, 46, 0.72);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav div a i{
    opacity: 0.6;
    font-size: 1.8em;
}
#kcal{
    background-color: var(--main-green);
}

#weight{
    background-color: #3470be;
}

/* dashboard */
.dashboard_title{
    color: #fff;
    margin-bottom: 2rem;
}

.dashboard .nav div:first-child i, .voeding .nav div:nth-child(3) i, .training .nav div:nth-child(2) i{
    color: #fff;
    opacity: 1;
}


/* containers */
.wrapper{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto 0;
}
.dashboard > section h3{
    width: 90vw;
    margin: 0 auto 0.5rem;
    padding:  0 5px;
    font-weight: 600;

}
.dashboard section .container:first-of-type{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: none;

}
.container:first-of-type article{
    background-color: #818080;
    border-radius: 10px;
    width: 48%;
    
}
.container:first-of-type article i{
    display: block;
    width: 1.5rem;
    font-size: 2.6rem;
    margin: 1.5rem auto 0;
}
.container:first-of-type article p{
    padding: 0.2rem 1.2rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.container {
    background-color: #5e5c5c;
    width: 90vw;
    margin: 0 auto 2rem;
    border-radius: 10px;
    overflow: hidden;
    height: 8.5rem;
    box-shadow: 0px -1px 18px 10px rgba(46, 46, 46, 0.72);
}

.container-s {
    background-color: #5e5c5c;
    width: 45%;
    margin:  0 0.5rem 1rem;
    border-radius: 10px;
    overflow: hidden;
    height: 9rem;
    box-shadow: 0px -1px 18px 10px rgba(46, 46, 46, 0.72);

}

.container-s h3, .training .container h3{
    margin-top: 0rem;
    padding-top: 0.3rem;
    color: var(--dark-grey);
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    text-align: center;
}
.container-s:last-child{
    flex-grow: 2;
    height: 6rem;
}

.container section:first-of-type{
    display: flex;
    background-color: var(--main-purple);
    width: 100%;
    height: 2rem;
}

.container h3{
    padding: 0;
    margin-top: 0.3rem;
    margin-left: -1rem ;
    font-weight: 700;
}

.container i{
    padding: 0;
    margin-top: 0.5rem;
    margin-left: 1rem;

}

.container section:last-of-type{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

}
.container:nth-of-type(1) div{
    display: flex;
    justify-content: space-between;
}
.container:nth-of-type(1) div p{
    margin-top: 1rem;
    margin-left: 0.5rem;
    width: 200px;
    font-size: 1.5rem;

}
.container:nth-of-type(1) div p span{
    font-size: 2.5rem;

    }
.container:nth-of-type(1) ul{
    width: 50%;
    list-style-type: none;
    margin: 1rem 2rem 0 4rem;
}
.container:nth-of-type(2){
    height: 9rem;
}
.container:nth-of-type(2) article{
    width: 100%;
    display: flex;
    margin: 0.2rem;
}
.container:nth-of-type(2) article p {
    display: block;
    padding: 0.2rem;

} 
.container:nth-of-type(2) article p span{
    font-size: 1.5rem;
}
.dashboard .container article p{
    padding: 0.8rem ;
}
.dashboard .container:last-of-type article{
    display: flex;
    margin-top: 0.5rem;
}
.dashboard .container:last-of-type article i{
   margin: 2rem 1rem 1rem 1rem;
   font-size: 2rem;
}

/* training*/
.training .wrapper{
    width: 95vw;
    justify-content: space-evenly;
}
.training .btn_wrapper{
    width: 95vw;
    display: block;
    margin: 0 auto;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;


}
#kracht, #cardio {
    width: 45%;
    padding: 20px;
    font-size: 18px;
    background-color: #d1b9ec;
    border-radius: 5px;
    border: none;
    font-family: 'Raleway', sans-serif;
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;

}
.training .nav, .add_training .nav{
background-color: var(--main-purple)
}
.training > div:first-of-type, .voeding > div:first-of-type{
    width: 90vw;
    margin: 0 auto;
}
.training article:first-of-type, .voeding article:first-of-type {
    width: 100%;
    display: flex;
    background-color: #818080;
    border-radius: 10px;
    height: 5rem;
}
.training article:first-of-type p, .voeding article:first-of-type p{
    padding: 0.6rem 0.4rem;
}
.training article:first-of-type i, .voeding article:first-of-type i{
    width: 3rem;
    margin: 2rem 0.5rem;
    text-align: center;
    font-size: 2rem;
}
.training .btn-secondary{
    display: block;
    width: 90vw;
    margin: 1rem auto;
    border-radius: 10px;
    border: 2px solid var(--main-purple);
    font-size: 18px;
    color: var(--main-purple);
    background-color: transparent;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}


.training .btn-secondary:hover{
    background-color:var(--main-purple);
    color: var(--dark-grey);
}

.training h2, .add_training h2{
    color: var(--main-purple);
}
.add_training h3{
    width: 90vw;
    margin: 0 auto;
    padding: 0.2em;
}

.training .container-s:nth-child(1) section{
    background-color: var(--light-purple);

}

.training .container-s:nth-child(2) section{
    background-color: var(--dark-purple);

}

.training .container-s:nth-child(3) section{
    background-color: var(--grey-purple);
    height: 2rem;
}
.training p:first-of-type{
    width: 90vw;
    margin: 0 auto;

}
.training .container-s p{
    width: 70%;
    margin: 1rem auto 0;
    text-align: center;
}
.training .container-s:nth-child(1) p span, .training .container-s:nth-child(2) p span{
    display: block;
    font-size: 2rem;
}
.training .container{
    margin: 2rem auto -2rem;
    height: 6rem;
}




/* voeding pagina */
.voeding .container-s:first-child section{
    background-color: var(--lighter-green);

}

.voeding .container-s:nth-child(2) section{
    background-color: var(--darker-green);

}

.voeding .container-s:nth-child(3) section{
    background-color: var(--grey-green);
    height: 2rem;
}
.container-s:nth-child(3) p, .training .container p {
    width: 80%;
    margin: 0.5rem auto;
    text-align: center;
}
.container-s:nth-child(3) p span, .training .container p span{
    font-size: 2rem;
}

.container-s ul {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    border-radius: 10px;
}

.add_training form button[type="submit"]{
    display: block;
    background-color: var(--main-purple);
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: var(--dark-grey);
    border: none;
    font-weight: 600;
    border-radius: 10px;
}



.voeding .nav{
    background-color: var(--main-green);
}

.voeding h2{
    color: var(--main-green);
}

.voeding .btn-secondary{
    display: block;
    width: 85vw;
    height: 3rem;
    margin: 1rem auto;
    border-radius: 10px;
    border: 2px solid var(--main-green);
    font-size: 18px;
    color: var(--main-green);
    background-color: transparent;
    font-weight: 600;
}

.voeding .btn-secondary:hover{
    background-color: #91CFAD;
}

.voeding .container-s:first-child p span, .voeding .container-s:nth-child(2) p span {
    font-size: 2.5rem;
}
.voeding .container-s:first-child p, .voeding .container-s:nth-child(2) p{
    margin: 1rem auto;
    width: 90%;
    text-align: center;

}



/* resultaten */

.results .wrapper {
    height: 62vh;
    overflow-y: scroll;
    margin-top: 1rem;
    width: 90vw;

}
.results-voeding{
    height: 8rem;
    margin-bottom: -3rem;
    width: 100%

}
.results-voeding input[type="checkbox"],
.results-beweging input[type="checkbox"]{
    opacity: 0;
}

/* .results-voeding:first-child{
    margin-top: -5rem;
} */

.results-voeding label,
.results-beweging label {
    width: 100%;
    height: 7rem;
    background-color: #706f6f;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    margin-top: -3rem;


}

.results-voeding label section{
    width: 100%;
    height: 2.5rem;
    background-color: var(--main-green);
    margin-left: 0rem;
    padding: 5px;
    display: flex;
}
.results-beweging label section{
    
    width: 100%;
    height: 2.5rem;
    background-color: var(--main-purple);
    margin-left: 0rem;
    padding: 5px;
    display: flex;

}
.results-voeding  p,
.results-beweging  p{
    width: 95%;
    padding: 0.4rem;

}
.results-voeding label i ,
.results-beweging label i {
    margin: 0.3rem 1.5rem 0.3rem 0.6rem;
    font-size: 1.2rem;
}

.results-voeding label h3,
.results-beweging label h3{
    margin: 0  0 0.4rem -0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.results a {
    display: block;
    width: 80vw;
    margin: 0 auto;
    background-color: var(--blue);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
}
.hide{
    display: none;
}
.show{
   display: block;
}



.overflow{
    overflow: hidden;
}
/* progress bar */
.pbContainer {
    height: 8px;
    background-color: #8f8c8c;
    position: relative;

}

.progressBar {
    position: absolute;
    height: 100%;
    background: rgb(77,31,232);
    background: linear-gradient(103deg, rgb(229, 232, 31) 0%, rgb(247, 80, 3) 100%);
    /* animation: progress-animation 2s forwards; */

}

@keyframes progress-animation {
0% {
    width: 0%;
 }
100% {
    width: 100%;
 }
}