<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<main id="aanmelden">
    <h2>Aanmelden</h2>
    <p>Om te beginnen met SO NUTS, is het nodig om een aantal vragen te beantwoorden zodat wij gepaste hulp kunnen
        aanbieden.</p>

    <form action="/form_1" method="POST">
        <label for="name">Naam</label>
        <input type="text" name="name" placeholder="Uw naam hier">
        <input type="submit" value="Volgende">
    </form>
</main>

<%- include('../partials/footer.ejs') %>