<%- include('../partials/head.ejs') %>
<main class="dashboard">
    <h2 class="dashboard_title">Jouw overzicht</h2>
    <section>
        <h3>Persoonlijke doelen</h3>
        <div class="container">
            <article>
                <p>Meer groente</p>
                <i class="fa-solid fa-carrot fa-xl"></i>
            </article>
            <article>
                <p>Meer bewegen</p>
                <i class="fa solid fa-person-walking fa-xl"></i>
            </article>
    </section>
    </div>
    <div class="container">
        <section>
            <i class="fa-solid fa-person-running"></i>
            <h3>Minuten beweging</h3>
        </section>
        <div class="pbContainer">
            <div class="progressBar"></div>
        </div>
        <div>
            <p>
                <span>90</span>/week
            </p>
            <ul>
                <li>vandaag: 0</li>
                <li>doel: 300</li>
            </ul>
        </div>
    </div>

    <div class="container">
        <section id="kcal">
            <i class="fa-solid fa-utensils"></i>
            <h3>Voeding</h3>
        </section>
        <div class="pbContainer">
            <div class="progressBar"></div>
        </div>
        <article>
            <p><span>1200</span>/2000 kcal</p>
            <div>
                <p><span>50</span>/100 g eiwitten</p>
                <p><span>76</span>/200 g groente</p>
            </div>
        </article>
    </div>

    <div class="container">
        <section id="weight">
            <i class="fa-solid fa-chart-simple"></i>
            <h3>Progressie</h3>
        </section>
        <section>

        </section>
    </div>


    <%- include('../partials/nav.ejs') %>
</main>

<%- include('../partials/footer.ejs') %>