<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<h2 class="dashboard_title">Dashboard</h2>
<div class="container">
    <section>
        <i class="fa-solid fa-clock-rotate-left"></i>
        <h3>Minuten training</h3>
    </section>
    <section>
        <p>
            <span>109</span>/week
        </p>
        <ul>
            <li>vandaag: 0</li>
            <li>doel: 300</li>
        </ul>
    </section>
</div>
<div class="container">
    <section id="weight">
        <i class="fa-solid fa-chart-simple"></i>
        <h3>Progressie</h3>
    </section>
    <section>
        <p>
            <span>109</span>/week
        </p>
        <ul>
            <li>vandaag: 0</li>
            <li>doel: 300</li>
        </ul>
    </section>
</div>

<div class="container">
    <section id="kcal">
        <i class="fa-solid fa-utensils"></i>
        <h3>Calorieën</h3>
    </section>
    <section>
        <p>
            <span>109</span>/week
        </p>
        <ul>
            <li>vandaag: 0</li>
            <li>doel: 300</li>
        </ul>
    </section>
</div>


<%- include('../partials/nav.ejs') %>
<%- include('../partials/footer.ejs') %>