<%- include('../partials/head.ejs') %>
<main id="form">
    <h2>vragenlijst</h2>
            <div class="pbContainer">
                <div class="progressBar"></div>
            </div>
            
    <%- include('../partials/form.ejs') %>

    <section class="form-btn">
        <!-- <button class="btn-next">Volgende</button> -->
    </section>


</main>

<%- include('../partials/footer.ejs') %>