<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<div id="overlay">
    <h2>vragenlijst</h2>

    <form action="/dashboard" method="POST">
        <label for="age">Wat is uw leeftijd? </label>
        <input type="number" email="age">
        <h3>Wat is uw geslacht?</h3>
        <div>
            <input type="radio" name="gender" id="male" value="male">
            <label for="male">Man</label>
        </div>
        <div>
            <input type="radio" name="gender" id="female" value="female">
            <label for="female">Vrouw</label>
        </div>
        <div>
            <input type="radio" name="gender" id="nonBinair" value="nonBinair">
            <label for="nonBinair">Non-binair</label>
        </div>
        <label for="height">Wat is uw lengte in cm? </label>
        <input type="number" name="height">
        <label for="weight">Wat is uw gewicht in kg?</label>
        <input type="number" email="weight">
        <section>
            <a href="/form_1" id="terug">
                < Ga terug</a>
                    <input type="submit" value="Volgende">
        </section>
    </form>
</div>