<%- include('../partials/head.ejs') %>
<main class="add_training">
    <h2>Cardio</h2>

    <form method="POST" action="/added_cardio" class="hide_form">
        <label for="cardio_type">Wat voor activiteit heeft uw gedaan?</label>
        <input type="text" name="cardio_type" id="cardio_type" placeholder="wandelen">
        <label for="cardio_type">Hoelang was de activiteit in minuten?</label>
        <input type="number" name="cardio_duration" id="cardio_duration" placeholder="wandelen">
        <button type="submit">Toevoegen</button>

    </form>
    <%- include('../partials/nav.ejs') %>
</main>


<%- include('../partials/footer.ejs') %>