<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<div id="form">
    <h2>vragenlijst</h2>
    <%- include('../partials/form.ejs') %>

    <section class="form-btn">
        <!-- <button class="btn-next">Volgende</button> -->
    </section>


</div>

<%- include('../partials/footer.ejs') %>