<%- include('../partials/head.ejs') %>

<body>
    <div id="overlay">
        <div class="headline">
            <h1>So Nuts</h1>
            <p>Wij helpen jou naar een gezonde toekomst</p>
        </div>
        <section>
            <a href="/aanmelden">Start</a>
        </section>
    </div>
</body>