<%- include('../partials/head.ejs') %>

<body>
    <main id="index">
        <div class="headline">
            <h1>So Nuts</h1>
            <p>Wij helpen jou naar een gezonde toekomst</p>
        </div>
        <section>
            <a href="/aanmelden">Start</a>
        </section>
    </main>
</body>