<%- include('../partials/head.ejs') %>

<body>
    <div id="overlay">
        <nav>
            <h1>So Nuts</h1>
            <p>De app die jou helpt om een gezonde toekomst tegemoet te gaan!</p>
        </nav>
        <section>
            <a href="/start">Start met SO-NUTS</a>
            <a href="/inloggen">Inloggen</a>
        </section>
    </div>
</body>