<%- include('../partials/head.ejs') %>

<main class="progressie">
    <h2>progressie</h2>
    <div>
        <article>
            <i class="fa-solid fa-carrot fa-xl"></i>
            <p>Jouw doel is om 200 gram groentes binnen te krijgen per dag.</p>
        </article>
    </div>
    <div class="wrapper">
    </div>

    <%- include('../partials/nav.ejs') %>
</main>


<%- include('../partials/footer.ejs') %>