<%- include('../partials/head.ejs') %>
<main class="results">
    <h2>Resultaten</h2>
    <p>Hieronder zijn de resultaten van het intake formulier.</p>
    <p>Kies maximaal drie onderwerpen waar u aan wil werken.</p>
    <section class="wrapper">

        <div class="results-groente">
            <input type="checkbox" name="groente">
            <label for="groente" name="groente">
                <section>
                    <h3>Minuten beweging</h3>
                </section>
            </label>
        </div>
        <div class="results-groente">
            <input type="checkbox" name="groente">

            <label for="groente" name="groente">
                <section>
                    <h3>Minuten beweging</h3>
                </section>
            </label>
        </div>
        <div class="results-groente">

            <input type="checkbox" name="groente">
            <label for="groente" name="groente">
                <section>
                    <h3>Minuten beweging</h3>
                </section>
            </label>
        </div>
        <div class="results-groente">
            <input type="checkbox" name="groente">
            <label for="groente" name="groente">
                <section>
                    <h3>Minuten beweging</h3>
                </section>

            </label>
        </div>

    </section>
    <a href="/dashboard">Verder</a>
</main>

<%- include('../partials/footer.ejs') %>