<%- include('../partials/head.ejs') %>
<main class="training">
    <h2>Beweging</h2>
    <p> DOEL Beschrijving uitgebreid</p>
    <div class="container">
        <section>
            <h3>Wekelijkse actieve minuten</h3>
        </section>
        <p><span>90 </span>/150</p>
    </div>
    <div class="wrapper">
    
        <div class="container-s">
            <section>
                <h3>Cardio</h3>
            </section>
            <p><span>65:00 </span>minuten</p>
        </div>

        <div class="container-s">
            <section>
                <h3>Kracht</h3>
            </section>
            <p><span>25:00</span> minuten</p>

        </div>
        <div class="container-s">
            <section>
                <h3>Dagelijkse stappen</h3>
            </section>
            <p><span>4300</span>/10000</p>
        </div>
    </div>
    <button class="btn-secondary">Voeg gegevens toe</button>

    <%- include('../partials/nav.ejs') %>
</main>


<%- include('../partials/footer.ejs') %>