<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>
<section class="training">
    <h2>Beweging</h2>

    <%- include('../partials/nav.ejs') %>
</section>


<%- include('../partials/footer.ejs') %>