<%- include('../partials/head.ejs') %>

<main class="voeding">
    <h2>Voeding</h2>
    <div class="wrapper">
        <div class="container-s">
            <section>
                <h3>Groente (g)</h3>
            </section>
            <p><span>170</span>/400</p>
    
        </div>
    
        <div class="container-s">
            <section>
                <h3>Eiwitten (g)</h3>
            </section>
            <p><span>70</span>/100</p>
    
        </div>
        <div class="container-s">
            <section>
                <h3>Dagelijkse kcal</h3>
            </section>
            <p><span>1200</span>/2000</p>
        </div>
    </div>
    <button class="btn-secondary">Voeg gegevens toe</button>

    <%- include('../partials/nav.ejs') %>
</main>


<%- include('../partials/footer.ejs') %>